/* Pagina de Login */
body {
    background-image: url("/images/pastImg1.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

label {
    font-size: 12px;
}

p {
    font-size: 14px;
}

.login-container {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 400px;
    animation: fadeIn 1s ease;
    transform: translateY(0);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #4a1f09;
}

/* Inputs */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #4a1f09;
}

.input-group input {
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group input:focus {
    border-color: #FB9403;
    box-shadow: 0 0 8px #FB9403aa;
}

/* Botón */
.btn-ingresar {
    width: 100%;
    padding: 12px;
    background-color: #4a1f09;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.btn-ingresar:hover {
    background: #FB9403;
    transform: translateY(-2px);
}

.btn-ingresar:active {
    transform: scale(0.98);
}

/* Texto de registro */
.signup {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.signup a {
    color: #FB9403;
    text-decoration: none;
    font-weight: bold;
}

.signup a:hover {
    text-decoration: underline;
}

/* Animación */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-regresar {
    background-color: #8e582c;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    border-style: none;
    border-radius: 9px;
}

.btn-regresar:hover {
    background-color: #e8cb9a;
    color: #8e582c;
}