html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.img {
    width: 100%;
    height: auto;
}

.header {
    background-color: #4a1f09;
    padding: 5px 20px;
    display: grid;
    grid-template-areas: "nav logo acciones";
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 20px;
}

.header img {
    grid-area: logo;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    position: static;
    transform: none;
}

.acciones {
    grid-area: acciones;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.button {
    color: #fff;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 1rem 2rem;
    font-size: 2rem;
    height: auto;
    background: #000;
    transition: 0.2s;
    margin-left: auto;
}

.button:hover {
    color: #000;
    transform: translate(-0.25rem, -0.25rem);
    background: #FB9403;
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
    transform: translate(0);
    box-shadow: none;
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

.nav-list li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    text-align: center;
}

.nav-enlace {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-decoration: none;
}

.nav-enlace:hover {
    color: #FB9403;
}

@media (max-width: 954px) {
    .header {
        grid-template-areas: 
            "logo acciones" 
            "nav nav";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .header img {
        justify-self: center;
    }

    .nav-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .nav-list li {
        margin: 5px 10px;
        text-align: center;
        flex: 1 1 auto;
    }

    .button {
        justify-self: center;
        align-items: center;
        margin: 10px auto;
    }
}

/* Section */

.hero {
    padding: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/images/pastImg1.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.hero-content {
    position: relative;
    font-size: 2.5rem;
    z-index: 2;
}

.hero-content h1 {
    font-size: 4.5rem;
    margin-bottom: 20px;
}

/* Sobre Nosotros */

.sobreNosotros {
    background-color: #b5b5b5;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.sobreNosotros img {
    width: 350px;
    height: 500px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.sobreNosotros-content {
    font-size: 1.4rem;
    text-align: center;
    margin-right: 4rem;
}

.sobreNosotros-content h2 {
    font-size: 4.2rem;
    margin-top: 8rem;
    margin-bottom: 5rem;
    font-weight: bolder;
}

.sobreNosotros-content p {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .sobreNosotros {
        grid-template-columns: repeat(1, 1fr);
    }
    .sobreNosotros-content {
        margin-right: 0;
        margin-top: 0;
    }

    .sobreNosotros-content h2 {
        margin-top: 0;
    }
}

/* Menu */

section h2 {
    font-size: 3rem;
    text-align: center;
    margin: 20px 0;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.menu-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.menu-img {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

/* Card */

h2.text-center {
    font-size: 4rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    margin-bottom: 50px;
}

/* Footer */

.footer {
    background-color: #4a1f09;
    color: #fff;
    padding: 30px;
    text-align: center;
    font-size: 1.6rem;
    position: relative;
}

/* Carta */

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #4a2d19;
}

.card-text {
    font-size: 1rem;
    color: #333;
}

.btn-primary {
    background-color: #d2691e;
    border: none;
}

.btn-primary:hover {
    background-color: #a95114;
}

/* Pagina Contactanos */

.container-contacto {
    margin-bottom: 122px;
}

main h2 {
    color: #5a3e2b;
    font-weight: bold;
}

.form-label {
    font-weight: bold;
    color: #5a3e2b;
}

.form-control {
    border-radius: 10px;
}

.btn-primary {
    background-color: #d2691e;
    border: none;
    font-weight: bold;
    font-size: 12px;
}

.btn-primary:hover {
    background-color: #a84f1a;
}

.contact-info h5 {
    color: #5a3e2b;
    font-weight: bold;
    margin-top: 1rem;
}

.contact-info a {
    text-decoration: none;
    color: #333;
}

.contact-info a:hover {
    color: #d2691e;
}

iframe {
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.container-contacto {
    font-size: 22px;
}

.container_texto {
    font-size: 22px;
}

textarea::placeholder {
    font-size: 12px;
    font-weight: bold;
}

input::placeholder {
    font-size: 12px;
    font-weight: bold;
}


/* Pagina Nosotros */

.seccion-ajustada {
    padding: 60px 0;
}

.contenido-sobre-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 2rem;
}

.contenido-sobre-nosotros h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.textonos {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.imagen-sobre-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.imagen-ajustada {
  width: 100%;
  max-width: 320px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .contenido-sobre-nosotros,
  .imagen-sobre-nosotros {
    padding: 1rem;
    text-align: center;
  }

  .contenido-sobre-nosotros {
    align-items: center;
  }
}

.container-obj {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
            'a a'
            'b c';
    gap: 2rem;
}

.objeto {
    padding: 20px;
}

.obj1 {
  grid-area: a;
  background-color: #D3D3D3;
}

.obj2 {
  grid-area: b;
  background-color: #B8860B;
}

.obj3 {
  grid-area: c;
  background-color: #9e9e41;
}

.container-obj h3 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.textonos2 {
    font-size: 1.8rem;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .container-obj {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
                'a'
                'b'
                'c';
        gap: 2rem;
    }
}

/* Carrito */

#carrito-icono {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#carrito-icono svg {
    stroke: #000;
}

.cart {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
    border-radius: 1rem;
    position: fixed;
    right: 20px;
    top: 50px;
    max-height: 90vh;
    width: 250px;
    overflow-y: auto;
    z-index: 1000;
}

.cart h2 {
    font-size: 2.2rem;
    font-family: var(--fuentePrincipal);
    margin-bottom: 1rem;
    text-align: center;
}

#cart-items {
    margin-bottom: 10px;
}

.cart-item {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#total-price {
    font-size: 2.0rem;
    font-weight: bold;
    font-family: var(--fuentePrincipal);
    text-align: center;
}

/* Formulario */

.bg-contact {
    background: linear-gradient(90deg, #00597c, #333333, #00597c);
    background-size: 300% 100%;
    animation: fluye 8s linear infinite;
}

@keyframes fluye {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.form-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 420px;
    padding: 80px 35px;
}

.form-control {
    background-color: transparent !important; 
    border: 2px solid #56ccf2;
    color: #ffffff !important;
    transition: border-color 0.3s ease;
}

.border-texth2 {
    color: transparent;
    text-shadow:
        -1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white,
        1px -1px 0 white;
}